nav {
  width: 100%;
  position: fixed;
  top: 0%;
}

.newLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color : #FFFFFF;
  text-indent: 1.5em;
  padding-right: 1.5em;
  padding-top: 45px;
  margin:auto
}

.arrowAndTweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 22px;
  padding-bottom: 30px;
}

.arrow {
  display: flex;
  justify-content: center;
  color:red;
}

p {
  margin: 0;
  }