.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.tweet-and-counter {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  background-color: #4056A1;
  color : #FFFFFF;
  font-family:Bungee;
  font-size: large;
}

.button {
  font-family:Bungee;
  font-size: x-large;
}

.text-area {
  width: 100%;
  background-color: rgb(248, 248, 232);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  border-bottom: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: thick;
  border-color: #545149;
  resize: none;
  height: 55px
}

h3 {
  margin: 0;
}